<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer src="/static/js/jquery.js"></script>
    <script defer src="/static/js/texto.js"></script>
    <script defer src="/static/js/script.js"></script>
</head>
<body>

    <header class="header">
        <div id="engenharia">
        </div>
    </header>
    <main class="container-container">
    <div class="main">
        <div class="container-filho">
            <div class="filho" id="play">
                <span class="material-symbols-outlined">stadia_controller</span>
                <span class="texto">PLAY</span>
            </div>

            <div class="filho" id="follow">
                <a href="https://github.com/AqueleQueSemeiaOConhecimento"  target="_blank">
                    <span class="material-symbols-outlined">follow_the_signs</span>
                    <span class="texto">FOLLOWME</span>  
                </a>  
            </div>
        </div>
    </div>
    </main>
    <footer class="footer">
        <div>
            &copy; Matheus
        </div>
    </footer>
</body>
</html>